<div
  *ngIf="dataLoaded == true"
  class="spinner-border text-danger"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>

<div class="mb-3">
  <label for="filterText" class="form-label">Ürün Adı Giriniz</label>
  <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Aramak istediğinizi Giriniz">
</div>

<div *ngIf="filterText.length>2"    class="alert alert-alert">
  {{filterText}} Ürünü
</div>

<table *ngIf="dataLoaded == true" class="table table-dark">
  <thead>
    <tr>
      <th>ArabaId</th>
      <th>MarkaId</th>
      <th>RenkId</th>
      <th>Model Yılı</th>
      <th>Günlük Fiyat</th>
      <th>Popülerite Fiyat</th>
      <th>Açıklama</th>
      <th>Marka</th>
    </tr>
  </thead>

  <tr *ngFor="let car of cars | filterpipe:filterText  ">
    <td>
      {{ car.carId }}
    </td>
    <td>
      {{ car.brandId }}
    </td>
    <td>
      {{ car.colorId }}
    </td>
    <td>
      {{ car.modelYear }}
    </td>
    <td>
      {{ car.dailyPrice | currency}}
    </td>
    <td>
      {{ car.dailyPrice | vatAdded:10 | currency}}
    </td>
    <td>
      {{ car.description }}
    </td>
    <td>
      {{ car.carName }}
    </td>
    <td>
      <button (click)="addToCart(car)" type="button" class="btn btn-warning">Sepete Ekle</button>

  </td>
  </tr>
</table>

