<!-- <table class="table table-success table-striped" routerLink="image">
  <thead align="center">
    <tr>
      
      <th>Yükleme Tarihi</th>
      <th>Ürün Detayı</th>
      <th align="center">Id</th>
      <th>Ürün Resmi</th>
     
    </tr>
  </thead>

  <tr *ngFor="let image of images ">
   
          
          <td>
            {{ image.date }}
          </td>
       
    <button type="button" class="btn btn-info" >Ürün Detayı</button>


        
          <td>
            {{ image.Id }}
          </td>
        
    <img [src]="imagee+image.imagePath" width="280px" height="220px" >

        
      
   
 
   
    
   
  </tr>
</table> -->
