<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Araba Id</th>
      <th scope="col">Yükleme Tarihi</th>
      <th scope="col">Ürün Detayı</th>
      <th scope="col">Ürün Resmi</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let image of images " margin="10px" padding="10px">
      <th scope="row">{{image.carId}}</th>
      
     <td>
      {{ image.date }}</td>
      <td>
        <button type="button" class="btn btn-info" routerLink="/detail/{{image.carId}}">Araba Detayları</button>
      </td>
      <img [src]="imagee+image.imagePath" width="280px" height="220px"  >
   
  </tbody>
</table>